
{% load static %}

{% block content %}
<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <title>Game Menu | GUI Challenges</title>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="hsl(221 90% 98%)" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="Canvas" media="(prefers-color-scheme: dark)">
    <meta name="description" content="🙂">
    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="stylesheet" href="{% static 'website/css/menu.css' %}">
    <script type="module" src="/index.js"></script>
  </head>
  <body>

    <ul class="threeD-button-set">
      <li><a href="{% url 'four:four' 1 %}"><button>Chapter 1</button></a></li>
      <li><a href="{% url 'four:four' 2 %}"><button>Chapter 2</button></a></li>
      <li><a href="{% url 'four:four' 3 %}"><button>Chapter 3</button></a></li>
      <li><a href="{% url 'four:four' 4 %}"><button>Chapter 4</button></a></li>
      <li><a href="{% url 'four:four' 5 %}"><button>Chapter 5</button></a></li>
    </ul> 



  </body>
</html>

{% endblock %}