{% extends "base.html" %}
{% load static %}
{% block title %}4 Pics 1 Word{% endblock %}

{% block content %}
<!-- Game Start -->
        <div id="game-container">
            <div class="wow fadeInUp" data-wow-delay="0.5s"">
                <div id="image-container">
                    <!-- Image placeholders (you can replace the src attribute with your image URLs) -->
                    <div class="about-img">
                        <img class="img-fluid rounded bg-light p-1" src="{{ image_url_1 }}" alt="" style="width: 275px; height: 275px; object-fit: cover;">
                    </div>

                    <div class="about-img">
                        <img class="img-fluid rounded bg-light p-1" src="{{ image_url_2 }}"alt="" style="width: 275px; height: 275px; object-fit: cover;">
                    </div>

<!--                    <div class="about-img">-->
<!--                        <img class="img-fluid rounded bg-light p-1" src="{{ current_game.image3.url }}" alt="" style="width: 275px; height: 275px; object-fit: cover;">-->
<!--                    </div>-->

<!--                    <div class="about-img">-->
<!--                        <img class="img-fluid rounded bg-light p-1" src="{{ current_game.image4.url }}" alt="" style="width: 275px; height: 275px; object-fit: cover;">-->
<!--                    </div>-->
                </div>
            </div>

            <div class="wow fadeInUp" data-wow-delay="0.5s">
                <div id="word-blanks" onclick="deselectLetter()">
                    <!-- Display blanks for the word -->
                    {% for _ in correct_answer_buttons %}
                        <button class="btn btn-outline-light py-2 top-0 end-0 mt-0 me-1" style="width: 50px; height: 50px;"></button>
                    {% endfor %}
                </div>
            </div>

            <div class="wow fadeInUp" data-wow-delay="0.5s">
                <div id="letter-container">
                    <!-- List of clickable letters -->
                    {% for button_value in correct_answer_buttons %}
                        <button class="btn btn-outline-light py-2 top-0 end-0 mt-0 me-1" style="width: 50px; height: 50px" onclick="selectLetter('{{ button_value }}')">{{ button_value }}</button>
                    {% endfor %}
                </div>
            </div>

            <div class="wow fadeInUp" data-wow-delay="0.5s">
                <div id="score-container">
                    <!-- Display score and level -->
                    Level: <span id="level" style="color: yellow;">{{ next_game_index }}</span><br>
                    <span id="output"></span>
                </div>
            </div>

<!--            <div class="description" style="display: none;">-->
<!--                <p>{{ current_game.description }}</p>-->
<!--            </div>-->

        <div class="description-modal modal fade" id="descriptionModal" tabindex="-1" aria-labelledby="descriptionModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content" style="background-image: linear-gradient(135deg, #13072e, #3f2182); border-radius: 10px;">
                    <div class="modal-header">
                        <h5 class="modal-title text-white" id="descriptionModalLabel">Description</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="color: white;"></button>
                    </div>
                    <div class="modal-body" style="text-align: justify; padding: 0 20px; margin: 20px">
                        <p class="text-white">{{ current_game.description }}</p>
                    </div>
                </div>
            </div>
        </div>

            <div class="wow fadeInUp" data-wow-delay="0.5s" style="display: flex; justify-content: flex-end; padding-top: 10px;">
                <!-- "Hint" button to get a hint for the game -->
                <a href="#" onclick="toggleDescription()"><button class="btn btn-outline-light py-2 top-0 end-0 mt-2 me-2 hint-button" style="width: 110px;">Hint</button></a>
                {% if next_game_index == total_games %}
                    <!-- "Next" button to navigate to the next game -->
                    <a href="{% url 'congrats' %}"><button class="btn btn-outline-light py-2 top-0 end-0 mt-2 me-0" style="width: 110px;">Next</button></a>
                {% else %}
                    <!-- "Next" button to navigate to the next game -->
                    <a href="{% url 'four' %}?game_index={{ next_game_index }}"><button class="btn btn-outline-light py-2 top-0 end-0 mt-2 me-0" style="width: 110px;">Next</button></a>
                {% endif %}
            </div>

        </div>
        <!-- Game End -->

<!--        <script src="{% static 'four/js/four_game.js' %}"></script>-->
  <script>
            function selectLetter(letter) {
                const blanks = document.querySelectorAll('#word-blanks button');
                let selectedLetters = '';

                for (let i = 0; i < blanks.length; i++) {
                    if (blanks[i].innerText === '') {
                        blanks[i].innerText = letter;
                        blanks[i].addEventListener('click', function() {
                            if (this.innerText === letter) {
                                this.innerText = '';
                                checkAnswer(); // Check the answer on deselecting
                            }
                        });
                        break;
                    }
                }

                // Gather all selected letters into a single string
                blanks.forEach(button => {
                    selectedLetters += button.innerText;
                });

                // Check the answer
                function checkAnswer() {
                    selectedLetters = '';
                    blanks.forEach(button => {
                        selectedLetters += button.innerText;
                    });

                    const correctAnswer = '{{ current_game.correct_answer }}';
                    const output = document.getElementById('output');

                    if (selectedLetters === correctAnswer.replace(/\s/g, '')) {
                        output.innerText = 'Correct!';
                        output.style.color = 'yellow'; // Change the color to yellow

                        const scoreElement = document.getElementById('score');
                        let score = parseInt(scoreElement.innerText) || 0; // Ensure it's a number or initialize to 0
                        score += 10;
                        scoreElement.innerText = score;
                        scoreElement.style.color = 'yellow'; // Change the color of the score to yellow
                    } else {
                        output.innerText = 'Incorrect!';
                        output.style.color = 'red'; // Change the color to red for incorrect
                    }
                }
                checkAnswer(); // Initial check when a letter is selected
            }

              function toggleDescription() {
                const descriptionModal = new bootstrap.Modal(document.getElementById('descriptionModal'));
                descriptionModal.show();
            }
        </script>
{% endblock %}